<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <% include ./partials/nav %>
        <div class="card" style="width: 50%">
        <form method="post" action="/blog-edit/<%=blog._id%>" style="padding: 20px">
            <div class="form-group">
                <label for="summary" class="text-primary">Blog Title</label>
                <input class="form-control" id="blogTitle" name="blogTitle" value="<%=blog.blogTitle%>"></textarea>

                <label for="detail" class="text-primary">Blog Text</label>
                <input class="form-control" id="blogText" name="blogText" value="<%=blog.blogText%>"></textarea>
            </div>
                <input type="submit" class="btn btn-primary" value="Save Blog">
        </form>
        </div>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
