<!DOCTYPE html>
<html>
  <head>
    <title>Blog Site Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.css" />
  </head>
  <body>
    <div class="container">
       <% include ./partials/nav %>
       <p></p>
       <h4><%= title %></h4>
       <p><%= content %></p>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
